[user]
	name = Tomas Vestelind
	email = tomas.vestelind@consultant.volvo.com
[core]
	editor = vim
[merge]
	tool = vimdiff
[color]
	ui = auto
[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[http]
	proxy = http://a020174:M0nst3rb4llw4rh4mm3r@pxgot2.srv.volvo.com:8080
[https]
	proxy = http://a020174:M0nst3rb4llw4rh4mm3r@pxgot2.srv.volvo.com:8080
