Xft.autohint: 0
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
XTerm*background: black
XTerm*foreground: white
XTerm*faceName: Liberation Mono
XTerm*faceSize: 8
